menu "LED Matter Example Configuration"

config EXAMPLE_LED_GPIO
    int "LED GPIO"
    range 0 48
    default 8
    help
        GPIO used for the Matter On/Off LED accessory.

config EXAMPLE_LED_ACTIVE_LOW
    bool "LED is active-low"
    default n
    help
        Enable if your LED turns on when the GPIO output is low.

endmenu
